body {
    background-color: #FFFFFF;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.page-container {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.handsontable {
    font-family: "Karla", sans-serif;
}
.data-table-container {
    z-index: 1;
}

th[role="columnheader"] {
    background-color: white;
    font-size: 14px;
}
th[role="row"] {
    background-color: white;
}
th[role="rowheader"] {
    background-color: white;
}
td[role="gridcell"] {
    background-color: white;
}
.page-container.show {
    opacity: 1;
}

.jakarta-font {
    font-family: "Plus Jakarta Sans", serif;
}

.header {
    color: #378CE7;
    text-align: center;
    font-size: 32px;
}

.remove-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.landing-page-text-container {
    width: 600px;
}
.landing-page-big-text {
    font-size: 48px;
    font-weight: 700;
    user-select: none;
}
.landing-page-small-text {
    font-size: 20px;
    user-select: none;
}

.logo-container {
    border-bottom: 1px solid #E5E8EB;
}

.logo-text {
    font-size: 22px;
    font-weight: 700;
    user-select: none;
}
.applied-steps-container {
    width: 100%;
    height: 750px;
    font-size: 18px;
    border: 1px solid #E8DECF;
    border-radius: 10px;
    overflow-y: auto;
    user-select: none;
}
.applied-steps-header-container {
    position: sticky;
    top:0;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid #E8DECF;
}
.applied-steps-header {
    text-align: center;
    font-weight: 600;
    margin: 0;
}

.applied-step-item-header {
    font-weight: 500;
    font-size: 14px;
    padding-right: 5px;
    color: #A1824A;
}
.applied-step-item-msg {
    font-size: 12px;
}


.toolbox-container {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    user-select: none;
    padding: 5px;
}

.toolbox-items {
    width: 250px;
    padding: 10px 0px 10px 0px;
    z-index: 2;
    top: 55px;
    background-color: white;
    border: 1px solid #E8DECF;
    border-radius: 10px;
}

.toolbox-radio-buttons {
    width: 250px;
    height: 150px;
}

.toolbox-input {
    border: 1px solid #E8DECF;
    border-radius: 10px;
    width: 150px;
    text-align: center;
}

.toolbox-dropdown-list {
    list-style: none;
}

.button {
    border-radius: 25px;
    padding: 1px 10px 1px 10px;
    height: 45px;
    user-select: none;
    font-weight: 500;
    color: black;
    background-color: #F5F0E5;
    border: none;

    text-align: center;
    cursor: pointer;
}
.file-settings-container {
    width: 485px;
}

.file-settings-input-header {
    color: black;
    font-weight: 500;
    font-size: 18px;
    user-select: none;
}


.file-settings-input {
    background-color: white;
    border: 1px solid #E8DECF;
    border-radius: 10px;
    padding: 1px 0px 1px 5px;
    height: 30px;
    width: 100%;
    text-align: start;
}

.file-name {
    text-align: center;
    width: 170px;
}

.file-upload-button {
    position: relative;
    border-radius: 25px;
    padding: 1px 0px 1px 0px;
    height: 45px;
    width: 80px;
    color: #DFF5FF;
    background-color: #009963;
}

.file-upload-button-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}


input[type="file"] {
    opacity: 0;
    position: absolute;
    color: #DFF5FF;
    border-radius: 10px;
    padding: 1px 0px 1px 0px;
    height: 40px;
    width: 100%;
    cursor: pointer;
    background-color: #378CE7;
    border: 1px solid #378CE7;
    margin-right: 16px;
}