body {
    background-color: #5356FF;
    padding-left: 50px;
    padding-right: 50px;

    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.pageContainer {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.pageContainer.show {
    opacity: 1;
}

.kavoon-font {
    color: #DFF5FF;
    font-family: "Kavoon", serif;
    font-weight: 400;
    font-style: normal;
    user-select: none;
}

.header {
    text-align: center;
    font-size: 40px;
}

.landingPageContent {
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textSection {
    width: 770px;
}

.landingPageImage {
    width: 750px;
    border-radius: 50%;
}
.landingPageText {
    font-size: 30px;
    margin-bottom: 40px; 
}

.button {
    width: 130px;
    border-radius: 10px;
    padding: 1px 0px 1px 0px;
    margin-top: 20px; 

    color: #DFF5FF;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

/*FileSettings.js*/

.fileSettingsContainer {
    width: 400px;
    height: 250px;
}

.fileSettingsInputHeader {
    padding-right: 10px;
}

.fileSettingsInputContainer {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: #DFF5FF;
}
.fileSettingsInput {
    background-color:#DFF5FF;
    border-radius: 10px;
    padding: 1px 0px 1px 0px;
    height: 30px;
    width: 320px;
    text-align: center;
    border: 1px solid #DFF5FF;
}

.fileName {
    position: absolute;
    text-align: center;
    right: 0;
    background-color: #5356FF;
    width: 170px;
}


input[type="file"] {
    visibility: hidden;
}
input[type="file"]::file-selector-button {
    visibility: visible;
    color:#DFF5FF;
    border-radius: 10px;
    padding: 1px 0px 1px 0px;
    height: 40px;
    width: 150px;
    cursor: pointer;
    background-color: #378CE7;
    border: 1px solid #378CE7;
    margin-right: 16px;
  }